// Variables
$spacing-unit: 8px;

$drawer-width: 240px;
$drawer-z-index: 1200;

$transition-duration: 250ms;

$primary: #3f59b5;
$secondary: #f50057;

// Functions
@function spacing($n) {
  @return $spacing-unit * $n;
}
