@import "assets/theme";

// Rules
.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    background-color: $primary;
    color: white;
  }

  .actions {
    justify-content: center;
  }
}